#banner-container-home #image-container-home #banner-home-img {
  aspect-ratio: auto;
  max-height: none;
}

#banner-container-home #image-container-home {
  min-width: 40%;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

#banner-container-home {
  align-items: start;
}

@media only screen and (max-width: 600px) {
  #banner-container-home #image-container-home {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 70%;
  }
  #home-banner-header,
  #banner-container-home #image-container-home #banner-home-img {
    text-align: center;
  }
  #banner-container-home #image-container-home #banner-home-img {
    max-width: 80%;
  }
  #banner-container-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
